html, body {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}

form {
  background-color: #76ABAE;
  border-radius: 12px;
  padding: 20px;
  margin: auto;
  display: flex;
  gap: 10px;
}

button {
  width: full;
  font-size: 30px;
  background-color: #31363F;
  color: #76ABAE;
  border-radius: 5%;
}

input {
  border-radius: 10px;
  font-size: 30px;
  width: 500px;
  background-color: #EEEEEE;
}

.logo {
  font-size: 50px;
  color: #222831;
}
